<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<style>
	table tr td{
		border: thin dotted #96B97D;
	}
</style>
<script>
	function jump() {
		window.location.href='/task/add';
	}
</script>
<body>
	<button onclick="jump()">add</button>
	<table>
		<tr>
	        <th>task_id</th>
	        <th>machine_id</th>
	        <th>machine_name</th>
			<th>lan_ip</th>
			<th>shelf_switch</th>
			<th>dmi_product_name</th>
			<th>dmi_part_number</th>
			<th>dmi_serial_number</th>
			<th>dmi_oem_string</th>
			<th>dmi_system_conf</th>
			<th>Op</th>
	    </tr>
		<% for(var i=0; i<data.length; i++){ %>
				<tr>
					<td><%= data[i].task_id %></td>
					<td><%= data[i].machine_id %></td>
					<td><%= data[i].machine_name %></td>
					<td><%= data[i].lan_ip %></td>
					<td><%= data[i].shelf_switch %></td>
					<td><%= data[i].dmi_product_name %></td>
					<td><%= data[i].dmi_part_number %></td>
					<td><%= data[i].dmi_serial_number %></td>
					<td><%= data[i].dmi_oem_string %></td>
					<td><%= data[i].dmi_system_conf %></td>										
					<td><%= data[i].dmi_system_conf %></td>
					<td><a href="/task/doDelete/<%= data[i].task_id %>">delete</a></td>
					<td><a href="/task/doUpdate/<%= data[i].task_id %>">update</a></td>
				</tr>
		<% } %>
	</table>
</body>
</html>